.form {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19) !important;
    background: white;
    padding: 20px!important
}
label {
    color: #4f8db3 !important;

}
.ant-form-item  {
    margin-bottom: 5px!important;
}
.title-profile-s{
    margin-top: 20px;
    width: 200px;
    background: #4f8db3;
    border: none;
    box-shadow: -4px -2px 6px -3px rgba(0, 0, 0, 0.2);
    height: 35px;
    position: relative;
    padding-left: 15px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 35px;
    font-weight: 500;
}
.title-profile-s::before{
    background-color: #4f8db3;
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);
    content: '';
    height: 36px; 
    width: 51px;
    overflow: hidden;
    position: absolute;
    right: -31px;  
    top: 38%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: -1;
}