.headerNotify {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 29%;
    margin-right: 29%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    text-align: center;
    color: white;
    background-color: #253b80;
    box-shadow: 0 1px 5px #6fb2e5, inset 0 10px 20px #b6f9ff;
}

.headerCooperation {
    color: #253b80;
    font-family: 'Trocchi',serif;
    font-size: 25px;
    font-weight: normal;
    line-height: 48px;
    margin: 0;
}

p.headerCooperation {
    font-size: 18px;
}

